<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <ngb-tabset class="tab-basic">
          <ngb-tab title="SK">
            <span class="flag-icon flag-icon-sk flag-icon-squared"></span>
            <span class="flag-icon flag-icon-gr flag-icon-squared"></span>
            <span class="flag-icon flag-icon-en flag-icon-squared"></span>
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Link
                      </th>
                      <th>
                        Text
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let link of list | languageFilter:'sk'">
                      <td class="py-1">
                        {{link.href}}
                      </td>
                      <td class="py-1">
                        <input type="text" class="form-control" [(ngModel)]="link.text" #text="ngModel" required maxlength="100" [class.border-danger]="text.invalid && (text.dirty || text.touched)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="CZ">
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Link
                      </th>
                      <th>
                        Text
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let link of list | languageFilter:'cz'">
                      <td class="py-1">
                        {{link.href}}
                      </td>
                      <td class="py-1">
                        <input type="text" class="form-control" [(ngModel)]="link.text" #text="ngModel" required maxlength="100" [class.border-danger]="text.invalid && (text.dirty || text.touched)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="EN">
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        Link
                      </th>
                      <th>
                        Text
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let link of list | languageFilter:'en'">
                      <td class="py-1">
                        {{link.href}}
                      </td>
                      <td class="py-1">
                        <input type="text" class="form-control" [(ngModel)]="link.text" #text="ngModel" required maxlength="100" [class.border-danger]="text.invalid && (text.dirty || text.touched)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-fw  pull-right" (click)="updateMenu()">Uložiť</button>
      </div>
    </div>
  </div>
</div>
