<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <ngb-tabset class="tab-basic">
          <ngb-tab title="SK">
            <ng-template ngbTabContent>
              <div class="form-group" *ngFor="let text of texts | callback: filterSK">
                <label for="input_{{text.id}}">{{text.section}}</label>
                <input id="input_{{text.id}}" type="text" class="form-control" [(ngModel)]="text.content" />
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="CZ">
            <ng-template ngbTabContent>
              <div class="form-group" *ngFor="let text of texts | callback: filterCZ">
                <label for="input_{{text.id}}">{{text.section}}</label>
                <input id="input_{{text.id}}" type="text" class="form-control" [(ngModel)]="text.content" />
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-fw  pull-right" (click)="updateTexts()">Uložiť</button>
      </div>
    </div>
  </div>
</div>
