<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <ngb-tabset class="tab-basic">
          <ngb-tab title="SK">
            <span class="flag-icon flag-icon-sk flag-icon-squared"></span>
            <span class="flag-icon flag-icon-gr flag-icon-squared"></span>
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Nadpis
                    </th>
                    <th>
                      Popis
                    </th>
                    <th>
                      Obsah
                    </th>
                    <th>
                      Cena
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let price of list | languageFilter:'sk'">
                    <td class="py-1">
                      <input type="text" class="form-control" [(ngModel)]="price.title" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="price.subtitle" />
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" [(ngModel)]="price.content"></textarea>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="price.price" />
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="CZ">
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Nadpis
                    </th>
                    <th>
                      Popis
                    </th>
                    <th>
                      Obsah
                    </th>
                    <th>
                      Cena
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let price of list | languageFilter:'cz'">
                    <td class="py-1">
                      <input type="text" class="form-control" [(ngModel)]="price.title" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="price.subtitle" />
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" [(ngModel)]="price.content"></textarea>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="price.price" />
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="EN">
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Nadpis
                    </th>
                    <th>
                      Popis
                    </th>
                    <th>
                      Obsah
                    </th>
                    <th>
                      Cena
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let price of list | languageFilter:'en'">
                    <td class="py-1">
                      <input type="text" class="form-control" [(ngModel)]="price.title" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="price.subtitle" />
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" [(ngModel)]="price.content"></textarea>
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="price.price" />
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-fw pull-right" type="button" (click)="updatePrices()">Uložiť</button>
      </div>
    </div>
  </div>
</div>
