<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Logo
              </th>
              <th>
                Názov
              </th>
              <th>
                Odkaz
              </th>
              <th>
                Odstrániť
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partner of partners">
              <td class="py-1 text-center">
                <img src={{imagePath}}{{partner.image}} />
              </td>
              <td class="py-1">
                <input type="text" class="form-control" [(ngModel)]="partner.name" />
              </td>
              <td class="py-1">
                <input type="text" class="form-control" [(ngModel)]="partner.href" />
              </td>
              <td class="py-1">
                <button class="btn btn-danger icon-btn" (click)="removePartner(partner)"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary btn-fw pull-right" type="button" (click)="updatePartners()">Uložiť</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <input type="file" class="form-control" style="border: 0" name="photo" ng2FileSelect [uploader]="uploader" />
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-fw pull-right"
                (click)="uploader.uploadAll()"
                [disabled]="!uploader.getNotUploadedItems().length">
          Nahrať logo
        </button>
      </div>
    </div>
  </div>
</div>
