<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Logo
              </th>
              <th>
                Názov
              </th>
              <th>
                Odkaz
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let partner of partners">
              <td class="py-1">
                <img src={{partner.image}} />
              </td>
              <td class="py-1">
                <input type="text" class="form-control" [(ngModel)]="partner.name" />
              </td>
              <td class="py-1">
                <input type="text" class="form-control" [(ngModel)]="partner.href" />
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <image-upload (uploadFinished)="onUploadFinished($event)" [uploadedFiles]="images"></image-upload>
        <button class="btn btn-primary btn-fw" type="button" (click)="updatePartners()">Uložiť</button>
      </div>
    </div>
  </div>
</div>
