<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav" *ngIf="isLogged()">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces-clipart/pic-3.png" alt="profile image" />
          </div>
          <div class="text-wrapper">
            <p class="profile-name">{{authService.getAuthorizationToken()}}</p>
            <div>
              <button (click)="logout()">
                <small class="designation text-mute">Odhlásiť</small>
              </button>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Nástenka</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/menu" routerLinkActive="active">
        <i class="menu-icon mdi mdi-view-list"></i>
        <span class="menu-title">Menu</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/texts" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-text"></i>
        <span class="menu-title">Texty</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services" routerLinkActive="active">
        <i class="menu-icon mdi mdi-format-list-bulleted"></i>
        <span class="menu-title">Služby</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/reviews" routerLinkActive="active">
        <i class="menu-icon mdi mdi-star"></i>
        <span class="menu-title">Recenzie</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/partners" routerLinkActive="active">
        <i class="menu-icon mdi mdi-account-box-outline"></i>
        <span class="menu-title">Partneri</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/prices" routerLinkActive="active">
        <i class="menu-icon mdi mdi-currency-eur"></i>
        <span class="menu-title">Cenník</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">
        <i class="menu-icon mdi mdi-phone"></i>
        <span class="menu-title">Kontakt</span>
      </a>
    </li>
  </ul>
</nav>
