<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <ngb-tabset class="tab-basic">
          <ngb-tab title="SK">
            <span class="flag-icon flag-icon-sk flag-icon-squared"></span>
            <span class="flag-icon flag-icon-gr flag-icon-squared"></span>
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Ikona
                    </th>
                    <th>
                      Názov
                    </th>
                    <th>
                      Obsah
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let service of services | callback: filterSK">
                    <td>
                      <i class="fa fa-{{service.icon}}"></i>
                    </td>
                    <td class="py-1">
                      <input type="text" class="form-control" [(ngModel)]="service.title" />
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" [(ngModel)]="service.content"></textarea>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="CZ">
            <ng-template ngbTabContent>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>
                      Názov
                    </th>
                    <th>
                      Obsah
                    </th>
                    <th>
                      Ikona
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let service of services | callback: filterCZ">
                    <td class="py-1">
                      <input type="text" class="form-control" [(ngModel)]="service.title" />
                    </td>
                    <td>
                      <textarea class="form-control" rows="5" [(ngModel)]="service.content"></textarea>
                    </td>
                    <td>
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-warning icon-btn" type="button" id="dropdownMenuIconButton1" ngbDropdownToggle>
                          <i class="mdi mdi-earth"></i>
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenuIconButton1">
                          <h6 class="dropdown-header">Settings</h6>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-fw  pull-right" (click)="updateServices()">Uložiť</button>
      </div>
    </div>
  </div>
</div>
