<ngx-smart-modal #modal identifier="modal">
  <div class="row flex-grow">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Zmena hesla</h4>
          <form class="forms-sample">
            <div class="form-group">
              <label for="password">Súčasné heslo</label>
              <input type="password" [(ngModel)]="password" class="form-control" id="password" placeholder="Heslo">
            </div>
            <div class="form-group">
              <label for="newpassword">Nové heslo</label>
              <input type="password" [(ngModel)]="newPassword" class="form-control" id="newpassword" placeholder="Nové Heslo">
            </div>
            <div class="form-group">
              <label for="newpasswordcheck">Zopakujte heslo</label>
              <input type="password" [(ngModel)]="newPasswordCheck" class="form-control" id="newpasswordcheck" placeholder="Nové Heslo">
            </div>
            <button type="submit" class="btn btn-success mr-2" (click)="changePassword()">Zmeniť</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>
