<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Užívateľ
                </th>
                <th>
                  Meno
                </th>
                <th>
                  Hodnotenie
                </th>
                <th>
                  Text
                </th>
                <th>
                  Dátum
                </th>
                <th>
                  Povolenie
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let review of reviews">
                <td class="py-1">
                  <img
                    src="assets/images/faces-clipart/pic-1.png"
                    alt="image"
                  />
                </td>
                <td>
                  {{review.user}}
                </td>
                <td>
                  <ngb-rating class="rating" [rate]="review.rating"></ngb-rating>
                </td>
                <td>
                  <span placement="bottom" ngbTooltip="{{review.text}}">{{review.text | slice:0:30}}...</span>
                </td>
                <td>
                  {{review.date | date:'d.MM.yyyy'}}
                </td>
                <td>
                  <ui-switch [(ngModel)]="review.allowed"></ui-switch>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-fw  pull-right" (click)="updateReviews()">Uložiť</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 form-group">
            <label _ngcontent-c5="" for="new-input-user">Užívateľ</label>
            <input type="text" class="form-control" id="new-input-user" [(ngModel)]="newReview.user" />
          </div>
          <div class="col-md-2 form-group">
            <label _ngcontent-c5="" for="new-input-rating">Hodnotenie</label>
            <ngb-rating class="rating form-control" [(ngModel)]="newReview.rating" [rate]="newReview.rating" id="new-input-rating"></ngb-rating>
          </div>
          <div class="col-md-6 form-group">
            <label _ngcontent-c5="" for="new-input-text">Text</label>
            <input type="text" class="form-control" [(ngModel)]="newReview.text" id="new-input-text" />
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-fw  pull-right" (click)="createReview()">Pridať</button>
      </div>
    </div>
  </div>
</div>
